@model PastorNub.Models.ChatRoom
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Chat";
}

<div class="container-fluid position-absolute position-fixed row" id="menu"></div>
<div class="container mt-5" style="margin-bottom: 200px;" id="Messages">
    @foreach (var i in Model.ChatMessages)
    {
        <div class="row col-4 mr-auto ml-auto mt-3 jumbotron pl-0 pr-0 pt-4 pb-4 @if (i.User.Id == User.Identity.GetUserId()) { @("") } " style="@if (i.User.Id != User.Identity.GetUserId()) { @("right: 120px;") } else { @("background-color:lightblue; left: 120px; color: black;") } ">
            <div class="col-12">
                <img height="50" width="50" style="display: inline;" src="~/Files/Avatar/@i.User.Avatar" />
                <strong class="ml-3">@i.User.UserName</strong>
                <small class="ml-1">@i.Date.ToShortDateString() @i.Date.ToShortTimeString()</small>
                <div class="col-12 ml-1" style="word-wrap: break-word; left: 50px; top: -10px;">
                    @Html.Raw(i.Message)
                </div>
            </div>
        </div>
    }
</div>

<div class="container mt-5 fixed-bottom">
        @using (Ajax.BeginForm("WriteMessage", "Messages", new AjaxOptions { UpdateTargetId = "Messages", OnSuccess = "ClearTextArea();" }, new { @class = "jumbotron row col-6 mr-auto ml-auto p-0" }))
        {
            <input type="number" hidden name="Id" value="@(Model.Id)" />
            <textarea id="TextArea" class="col-11 p-0 m-0" style="border: none;" rows="7" name="Text"></textarea>
            <button type="submit" class="col-1 btn btn-primary" onclick=""><i class="far fa-paper-plane"></i></button>
        }
</div>
    <script>
        function ClearTextArea() {
            ToBottom();
            document.getElementById("TextArea").value = "";
        }

        function ToBottom() {

            $("html, body").scrollTop($("html, body").prop("scrollHeight"));
        }

        document.addEventListener('DOMContentLoaded', function () {
            ToBottom();
            RenderMenu();
        });
    </script>

